/* ----------------------

    libs && framework
    
---------------------- */

@import "libs/bootstrap/bootstrap";

/* ----------------------

    plugins
    
---------------------- */

@import "plugins/swiper";
@import "plugins/datepicker";
@import "plugins/loader";
@import "plugins/slider";
@import "plugins/checkboxes";
@import "plugins/pagination";
@import "plugins/breadcrumb";
@import "plugins/jalerts";
// @import "plugins/jform";
// @import "plugins/files";
@import "plugins/popup";
// @import "plugins/plugins";
@import "plugins/iblock";

/* ----------------------

    fonts
    
---------------------- */

@import "fonts/font-icons";
@import "fonts/fonts";

/* ----------------------

    vendors
    
---------------------- */

@import "vendors/normalize";
@import "vendors/variables";
body,
html {
    background: #f1f1f1;
}

.row,
.container,
.container-fluid,
.form-control {
    font-family: $Paragraph !important;
}

header {
    .main-logo {
        height: 120px;
        img {
            width: 360px;
            @media (min-width: 0) {
                width: 150px;
            }
            @media (min-width: 540px) {
                width: 150px;
            }
            @media (min-width: 768px) {
                width: 100%;
            }
            @media (min-width: 990px) {
                width: 100%;
            }
        }
    }
    .mobile-navbar {
        background: rgba(0, 0, 0, 0.62);
        padding: 20px 50px;
    }
    .nav-link {
        font-family: $Paragraph;
        color: #ffffff !important;
    }
    .dropdown-menu {
        background: rgba(0, 0, 0, 0.47);
        border-radius: 0;
    }
    .dropdown-item {
        color: #fff;
    }
    .navbar-toggler {
        position: fixed;
        right: 40px;
        top: 40px;
        z-index: 99999;
        border: 1px solid #fff;
        display: block;
        opacity: 1;
        background: #ffffff;
        @media (min-width: 768px) {
            display: none;
        }
    }
    .menu-col {
        @media (min-width: 0) {
            display: none;
        }
        @media (min-width: 540px) {
            display: none;
        }
        @media (min-width: 768px) {
            display: block;
        }
    }
    .top-nav {
        font-family: $Paragraph;
        font-size: 13px;
        border-bottom: 1px solid rgba(241, 241, 241, .4);
        height: 60px;
        a {
            color: #ffffff;
            text-decoration: none;
        }
        .ic-user {
            position: relative;
            font-size: 16px;
            top: 4px;
            margin: 0 5px 0 0;
        }
    }
    .bg-faded {
        background-color: rgba(0, 0, 0, .45)
    }
    .navbar {
        height: 120px;
        padding: 0;
        background-image: url('../../../assets/img/bg.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color: #fff;
        &.main {
            background: rgba(0, 0, 0, .45);
        }
    }
    // .authentication {
    //     height: 16px;
    //     line-height: 13px;
    // }
    .langs {
        margin: 0 0 0 45px;
        img {
            margin: 0 4px 0 0;
        }
        a {
            display: inline-block;
            margin: 0 16px 0 0;
            &.active {
                text-decoration: underline;
            }
        }
    }
    .bottom-nav {
        height: 60px;
        .menu-link {
            color: #ffffff;
            font-family: $Title;
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            padding: 0 8px;
            margin: 0 15px;
            height: 100%;
            a {
                color: #ffffff;
                &:hover {
                    text-decoration: none !important;
                }
            }
        }
        .menu-link {
            position: relative;
            line-height: 65px;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            border-bottom: 6px solid transparent;
            @media (min-width: 540px) {
                display: none;
            }
            @media (min-width: 768px) {
                font-size: 12px;
                margin: 0;
            }
            @media (min-width: 992px) {
                margin: 0;
            }
            @media (min-width: 1200px) {
                font-size: 15px;
                padding: 0 8px;
                margin: 0 15px;
            }
            &:hover {
                border-bottom: 6px solid #0db4ff;
                .drop-down {
                    display: block;
                }
            }
        }
        .ic-arrow-down {
            position: relative;
            display: inline-block;
            top: 2px;
            width: 12px;
            height: 12px;
            line-height: 12px;
            font-size: 12px;
            margin: 0 0 0 5px;
        }
    }
    .drop-down {
        position: absolute;
        background: rgba(43, 48, 57, 0.9);
        padding: 5px 0 15px 0;
        top: calc(100% + 12px);
        left: 0;
        display: none;
        &:before {
            position: absolute;
            content: '';
            top: -6px;
            left: 0;
            width: 100%;
            height: 6px;
            background: transparent;
        }
        a {
            color: #ffffff;
        }
        .sub-title {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            margin: 0;
            line-height: 46px;
            padding: 0 21px;
        }
        .dropdown-groups {
            .sub-menu-links {
                border-right: 1px solid #868586;
            }
            &:last-child,
            &:only-child {
                .sub-menu-links {
                    border-right: 0;
                }
            }
        }
        .sub-link {
            white-space: nowrap;
            font-family: $Paragraph;
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            line-height: 40px;
            margin: 0;
            padding: 0 21px;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            width: 210px;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                padding: 0 38px;
                background: #20242a;
            }
        }
    }
}

.main-slider {
    height: 700px;
    @media (max-width: 992px) {
        height: 500px;
    }
    .swiper-container {
        height: 100%;
    }
    .swiper-slide {
        padding: 120px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        .row {
            height: 580px;
            @media (max-width: 992px) {
                height: 380px;
            }
        }
        h1 {
            font-family: $Title;
            font-size: 58px;
            color: #ffffff;
            text-shadow: 2px 4px 11px #000;
            @media screen and (max-width: 992px) {
                font-size: 38px;
            }
            @media (max-width: 540px) {
                font-size: 28px;
            }
        }
    }
    .swiper-pagination {
        bottom: 20px;
    }
    .swiper-pagination-bullet {
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #ffffff;
    }
}

.container-fluid {
    background: #f1f1f1;
}

.form-group-search {
    position: relative;
    .ic-magnifying-glass {
        position: absolute;
        right: 20px;
        top: 12px;
        color: #f72c67;
        font-size: 24px;
        width: 24px;
        height: 24px;
        z-index: 0;
    }
    .main-search-input {
        position: relative;
        height: 50px;
        z-index: 1;
        background: transparent;
        font-size: 12px;
        border-radius: 25px;
    }
}

.main-filter {
    font-size: 14px;
    vertical-align: top;
    color: #333333;
    .ic {
        position: relative;
        top: 2px;
        color: #c3caca;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin: 0 10px 0 0;
    }
    .select-container {
        position: relative;
        .icon {
            position: absolute;
            position: absolute;
            right: 10px;
            top: 19px;
            font-size: 12px;
            width: 12px;
            height: 12px;
            text-align: center;
            z-index: 0;
        }
    }
    .form-control {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        height: 50px !important;
        font-size: 12px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 1px;
        z-index: 1;
        font-family: $Paragraph;
    }
    .btn-primary {
        background: #0db4ff;
        height: 40px;
        border-radius: 25px;
        font-family: $Title;
        font-size: 14px;
        line-height: 29px;
        .ic-magnifying-glass {
            font-size: 24px;
            width: 24px;
            position: relative;
            top: 2px;
            height: 24px;
        }
    }
    .category {
        margin: 15px -15px 0 -15px;
    }
    .form-check-label {
        font-size: 12px;
        color: #888888;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        &:hover {
            color: #000;
        }
    }
    .form-check-input {
        margin-right: 15px;
    }
}

.section-row {
    color: #c3caca;
    margin: 90px 0 0;
    h1 {
        vertical-align: top;
        font-family: $Title;
        font-size: 24px;
    }
    .ic-right-arrow {
        background: #0db4ff;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-align: center;
        color: #fff;
        padding: 8px 0;
        position: relative;
        top: 2px;
    }
    .heading-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        top: 3px;
    }
    .line {
        width: 165px;
        height: 3px;
        background: #c3caca;
        display: block;
        margin: 0 0 25px 0;
    }
    .ic-medal-on-a-ribbon-for-number-one {
        position: relative;
        display: inline-block;
        top: 8px;
        width: 37px;
        height: 37px;
        font-size: 37px;
        text-align: center;
    }
    .arrow {
        position: relative;
        top: -1px;
        margin: 0 0 0 10px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #0db4ff;
        color: #ffffff;
        display: inline-block;
        text-align: center;
        font-size: 22px;
        line-height: 52px;
    }
    .btn {
        top: -4px;
        margin: 0 0 0 10px;
        i {
            color: #fff;
            background: transparent;
            width: auto;
            height: auto;
            line-height: normal;
            padding: 0;
            top: 0;
            display: inline-block;
        }
    }
}

.heart {
    color: #ff8591;
}

.card-type {
    position: relative;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15);
    &:hover {
        .image {
            &::after {
                opacity: 1;
            }
            a {
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
    .ic-sale {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        font-size: 60px;
        color: #e82e60;
    }
    .image {
        position: relative;
        width: 100%;
        height: 280px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        overflow: hidden;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            opacity: 0;
            top: 0;
            z-index: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
        }
        a {
            padding: 0 0 0 47px;
            position: absolute;
            z-index: 1;
            display: block;
            width: 178px;
            height: 40px;
            background: #9aa5a9;
            border-radius: 20px 0 0 20px;
            text-align: left;
            line-height: 40px;
            font-size: 14px;
            color: #ffffff;
            right: 0;
            text-decoration: none;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            -webkit-transform: translateX(178px);
            -moz-transform: translateX(178px);
            transform: translateX(178px);
        }
        i {
            position: absolute;
            font-size: 24px;
            width: 24px;
            height: 24px;
            top: 7px;
            left: 15px;
        }
        .full-view {
            background: #0db4ff;
            bottom: 75px;
        }
        .add-to-fav {
            bottom: 25px;
            &.active {
                background: #e82e60;
                color: #ffffff;
            }
        }
    }
    .card-title {
        font-family: $Title;
        font-size: 12px;
        font-weight: 700;
    }
    .price {
        position: relative;
        top: -7px;
        font-family: $Paragraph;
        font-size: 18px;
        color: #f72c67;
    }
    .card-text {
        font-size: 12px;
        .category {
            overflow: hidden;
            color: #aaaaaa;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 70%;
            display: inline-block;
        }
        .duration {
            width: 30%;
            font-weight: 700;
        }
    }
    .icons {
        color: #c3caca;
        line-height: 9px;
        i {
            font-size: 16px;
            width: 16px;
            height: 16px;
            display: inline-block;
            margin: 0 5px 0 0;
            &.active {
                color: #d775aa;
            }
        }
    }
}

.ic-sign-out-option {
    font-size: 14px;
    position: relative;
    top: 3px;
    margin: 0 0 0 5px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.captcha-and-submit input {
    height: 45px;
}

.header-mirror {
    height: 120px;
    &.hidden {
        display: none;
    }
}

.captcha-and-submit input[type=text] {
    width: 80px;
    font-size: 20px;
}

.captcha {
    position: relative;
    float: left;
    height: 45px;
    width: 95px;
    background-image: url('../images/captcha.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #949494;
    border-left: 0;
    border-right: 0;
}

.captcha-text {
    float: left;
    margin-left: 10px;
    width: calc(100% - 105px);
}

.CaptchaVal {
    width: 235px;
    height: 45px;
}

.captcha .update-captcha {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: #FFF;
    background-image: url(../../../assets/img/icons.png);
    background-position: 0 -160px;
}

.captcha:hover .update-captcha {
    display: block;
}

.list-view-row {
    min-height: 180px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15);
    margin: 0 0 30px;
    background: #e9acc7;
    &:hover {
        .image {
            &::after {
                opacity: 1;
            }
            a {
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
    .ic-sale {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        font-size: 60px;
        color: #e82e60;
    }
    .image {
        position: relative;
        width: 100%;
        height: 180px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        overflow: hidden;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            opacity: 0;
            top: 0;
            z-index: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
        }
        a {
            position: absolute;
            padding: 0 0 0 47px;
            z-index: 1;
            display: block;
            width: 178px;
            height: 40px;
            background: #9aa5a9;
            border-radius: 20px 0 0 20px;
            text-align: left;
            line-height: 40px;
            font-size: 14px;
            color: #ffffff;
            right: 0;
            text-decoration: none;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            -webkit-transform: translateX(178px);
            -moz-transform: translateX(178px);
            transform: translateX(178px);
        }
        i {
            position: absolute;
            font-size: 24px;
            width: 24px;
            height: 24px;
            top: 7px;
            left: 15px;
        }
        .full-view {
            background: #0db4ff;
            bottom: 99px;
        }
        .add-to-fav {
            bottom: 52px;
            &.active {
                background: #e82e60;
                color: #ffffff;
            }
        }
    }
    h3 {
        position: relative;
        font-family: $Title;
        font-size: 16px;
        font-weight: 700;
        &::after {
            content: '';
            position: absolute;
            width: 55px;
            height: 1px;
            background: #c3caca;
            margin: 25px 0 0;
            left: 0;
        }
    }
    .destination {
        font-size: 14px;
        color: #aaaaaa;
    }
    .service {
        font-size: 12px;
        color: #aaaaaa;
    }
    .ic {
        color: #c3caca;
        line-height: 9px;
        font-size: 16px;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0 5px 0 0;
        &.active {
            color: #d775aa;
        }
    }
    .tour-description {
        font-size: 12px;
        height: 100%;
        overflow: hidden;
        line-height: 19px;
    }
    .box {
        position: relative;
        height: 180px;
        background: #ffffff;
    }
    .price {
        background: #e9acc7;
        height: 100%;
        font-size: 24px;
        color: #ffffff;
        del {
            font-size: 20px;
        }
        .row {
            height: 180px;
        }
    }
    .sale-badge {
        position: absolute;
        right: -4px;
        bottom: 17px;
        background: #f72c67;
        color: #ffffff;
        font-family: $Title;
        font-size: 18px;
        height: 28px;
        line-height: 32px;
        padding: 0 20px;
        border-radius: 15px 0 0 15px;
        z-index: 1;
    }
}

.title-main-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    position: relative;
    top: 8px;
}

.subscription-container {
    position: relative;
    height: 530px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 145px 0 0;
    .row {
        // height: 530px;
        position: relative;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(31, 186, 255, 0.10);
        left: 0;
        top: 0;
        z-index: 0;
    }
    img {
        position: relative;
        z-index: 1;
    }
    .border {
        border-bottom: 1px solid #ffffff;
    }
    .form-group {
        position: relative;
    }
    label {
        font-size: 24px;
        color: #000;
        line-height: 20px;
    }
    input {
        height: 50px;
        border-radius: 25px;
        width: 460px;
        background: rgba(255, 255, 255, 0.85);
        padding: 0 50px;
        font-size: 12px;
        @media (max-width: 540px) {
            width: 100%;
        }
    }
    .btn {
        position: absolute;
        border-radius: 100%;
        width: 46px;
        height: 46px;
        right: 2px;
        bottom: 2px;
        padding: 0;
        color: #ffffff;
        background: #0db4ff;
        cursor: pointer;
        text-align: center;
        i {
            position: relative;
            top: 3px;
        }
    }
}

.captcha-block {
    width: 100%;
}

.contact-form {
    .input-error {
        color: #f00;
        margin: -10px 0 15px;
        font-size: 12px;
        line-height: normal;
    }
}

.contact-container {
    .form-group {
        margin: 0 0 18px 0;
    }
    .form-control {
        min-height: 40px;
        border-left: 0;
        border-color: #949494;
        font-size: 12px;
        border-radius: 0 20px 20px 0;
        background: transparent;
    }
    .btn-primary {
        background: #0db4ff;
        font-family: $Title;
        height: 40px;
        border-radius: 20px;
        line-height: 28px;
        font-size: 14px;
        position: relative;
        i {
            width: 21px;
            height: 21px;
            font-size: 21px;
            text-align: center;
            line-height: 21px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    .contact-ul {
        font-size: 16px;
        li {
            display: flex;
            margin: 0 0 10px;
        }
        i {
            color: #c3caca;
            width: 32px;
            height: 32px;
            font-size: 32px;
            display: inline-block;
        }
        span {
            vertical-align: top;
            margin: 6px 0 0 20px;
        }
    }
    p {
        font-size: 13px;
        line-height: 26px;
    }
    .social-icons {
        a {
            text-decoration: none;
            margin: 0 18px 0 0;
        }
        i {
            font-size: 42px;
            width: 42px;
            height: 42px;
        }
        .facebook {
            color: #3b5998;
        }
        .youtube {
            color: #c4302b;
        }
        .twitter {
            color: #26a6d1;
        }
    }
}

.services {
    .image {
        height: 305px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-color: #cccccc;
    }
    h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        max-height: 45px;
        overflow: hidden;
    }
    a {
        color: #000;
        text-decoration: none;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        &:hover {
            color: #0db4ff;
        }
    }
    p {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 16px;
    }
    .small-line {
        display: block;
        width: 50px;
        height: 1px;
        background: #000;
        margin: 25px 0 20px 0;
    }
    .click-to-go {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
    .text-container {
        max-height: 195px;
        overflow: hidden;
    }
    .select-row {
        margin: 73px 0 0;
    }
}

#map {
    height: 450px;
}

.ticket {
    .ticket-info {
        font-size: 12px;
        line-height: 24px;
    }
    .nav-link {
        font-size: 14px;
        line-height: 20px;
        color: #888888;
        &.active {
            color: #333333;
            background: transparent;
            border-bottom-color: #f1f1f1;
        }
    }
    .name {
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
    .custom-number {
        display: flex;
        align-items: flex-start;
        .btn {
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 0;
            line-height: 31px;
            font-family: arial;
            &.left {
                border-radius: 2px 0 0 2px;
            }
            &.right {
                border-radius: 0 2px 2px 0;
            }
        }
        .custom-input {
            width: 30px;
            height: 30px;
            text-align: center;
            margin: 0 4px;
            font-size: 12px;
            &:active {
                border-color: #0db4ff;
            }
        }
    }
    .contact-info {
        border-radius: 25px;
        background: #e3e5e5;
        label {
            color: #d87811;
            font-size: 12px;
        }
        input {
            height: 36px;
            background: #ffffff;
            border-radius: 3px;
            border: 1px solid;
            border-color: #c3caca;
            width: 100%;
            font-size: 12px;
        }
    }
    textarea {
        width: 100%;
        height: 120px;
        border-radius: 3px;
        background: transparent;
    }
    .form-group input[type="radio"] {
        width: 12px;
        height: 12px !important;
        top: 4px;
        margin: 0 10px;
    }
    .radio-label {
        font-size: 12px;
    }
    label {
        margin: 0;
    }
    .name-icons {
        font-size: 16px;
        width: 16px;
        height: 16px;
        display: inline-block;
        color: #c3caca;
        position: relative;
        top: 5px;
        margin: 0 10px;
    }
    .select-container {
        position: relative;
    }
    .form-control {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: rgba(0, 0, 0, 0);
        height: 50px !important;
        font-size: 12px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 1px;
        z-index: 1;
        font-family: "BPG Mrgvlovani", sans-serif;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 19px;
        font-size: 12px;
        width: 12px;
        height: 12px;
        text-align: center;
        z-index: 0;
    }
}

.tour-detail {
    .section-row {
        margin: 0;
        h2 {
            font-family: $Title;
            color: #0db4ff;
            font-size: 20px;
            margin: 35px 0;
        }
    }
    .tour-id-col {
        .tour-id {
            font-family: $Title;
            font-size: 20px;
            font-weight: 700;
            color: #777777;
        }
        .small-line {
            width: 100px;
            height: 1px;
            background: #000;
            display: inline-block;
            margin: 10px 0;
        }
    }
    font-size: 13px;
    .btn-container {
        width: 262px;
        .btn {
            margin: 0 0 8px;
            &.active {
                background: #e82e60;
                color: #ffffff;
            }
        }
        i {
            font-size: 23px;
            width: 23px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            display: inline-block;
            margin: 8px 10px 0 0;
        }
        span {
            vertical-align: top;
        }
    }
    h3 {
        font-size: 30px;
        font-family: $Title;
        color: #333;
        text-shadow: 0 0 0 #000;
    }
    h4 {
        font-size: 20px;
        font-family: $Title;
        font-weight: bold;
        color: #000;
    }
    .tour-description-container {
        h5 {
            font-size: 13px;
            margin: 20px 0;
        }
        p {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .period {
        font-size: 16px;
        line-height: 24px;
    }
    .price {
        font-size: 26px;
        color: #f72c67;
        text-shadow: 0 0 0 #f72c67;
        margin: 25px 0;
    }
    .publish {
        color: #777777;
        margin: 0 0 25px;
    }
    .btn-default i {
        position: relative;
        top: 1px;
    }
    .category {
        font-size: 14px;
        strong {
            margin: 0 10px 0 0;
            font-size: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    p {
        margin: 0;
    }
    h6 {
        font-weight: 700;
        font-size: 13px;
        margin: 15px 0;
    }
    h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 17px;
        i {
            position: relative;
            top: 4px;
            font-size: 24px;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }
    li {
        margin: 5px 0;
        font-size: 14px;
        line-height: 22px;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #0db4ff;
            }
        }
    }
    li.active {
        color: #ff3e18;
        text-decoration: underline;
    }
    li.italic {
        font-style: italic;
        font-size: 12px;
    }
    i {
        font-size: 12px;
    }
    .ic {
        position: relative;
        top: 3px;
        font-size: 17px;
        width: 17px;
        height: 17px;
        line-height: 17px;
        text-align: center;
        margin: 0 10px 0 0;
        &.active {
            color: #d775aa;
        }
        &.inactive {
            color: #c3caca;
        }
    }
    .collapse-button {
        position: relative;
        i {
            position: absolute;
            left: 20px;
            top: 8px;
        }
    }
    .thin-line,
    .solid-line {
        .col-md-1,
        .col-md-2 {
            height: 1px;
            background: #000;
        }
    }
    .solid-line {
        .col-md-1,
        .col-md-2 {
            height: 4px;
            background: #000;
        }
    }
    .image-col {
        max-width: 392px;
    }
}

.heaeder-block {
    height: 120px;
}

.blog-container {
    .section-row {
        margin: 50px 0;
    }
    .blog-row {
        .info-container {
            &:first-child {
                border-top: 0;
            }
        }
    }
    .btn {
        height: 30px;
        line-height: 32px;
    }
    .image {
        height: 250px;
        background-color: #ccc;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .info-container {
        height: 250px;
        border-top: 1px solid #c3caca;
        border-bottom: 1px solid #c3caca;
        padding: 20px 0 0;
    }
    h4 {
        font-family: $Title;
        font-size: 16px;
        font-weight: 700;
        color: #555558;
        margin: 15px 0;
        line-height: 18px;
        height: 35px;
        overflow: hidden;
        margin: 0 0 10px;
    }
    ul {
        font-size: 12px;
        color: #859797;
        li {
            margin: 0 15px 0 0;
        }
        i {
            margin: 0 7px 0 0;
            display: inline-block;
        }
        .ic {
            position: relative;
            top: 1px;
        }
    }
    p {
        color: #555558;
        font-size: 13px;
        line-height: 22px;
        color: #555558;
        height: 65px;
        overflow: hidden;
        margin: 0 0 40px;
    }
    .blog-list-title {
        font-family: $Title;
        font-size: 18px;
        font-weight: 700;
        color: #97a7a7;
        margin: 0 0 50px;
    }
    .list-group-item {
        position: relative;
        font-size: 14px;
        color: #555558;
        border: 0;
        border-top: 1px dotted #c3caca;
        padding: 6px 0;
        border-radius: 0!important;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        &:hover {
            padding-left: 10px;
            background: #ffffff;
        }
        span {
            display: flex;
        }
        &.active {
            background: #fff;
            color: #f72c67;
            border-bottom: 1px dotted #c3caca;
            // border: inherit;
            .count {
                color: #f72c67;
            }
            i {
                margin: 0 7px 0 0;
            }
        }
        .count {
            position: absolute;
            right: 0;
            bottom: 6px;
            font-size: 12px;
            color: #b1b1b1;
        }
        &:first-child {
            border-top: 0;
        }
        i {
            display: inline-block;
            font-size: 12px;
            width: 12px;
            height: 12px;
            color: #f72c67;
            margin: 5px 7px 0 0;
        }
    }
    .blog-nav {
        position: relative;
        padding: 10px;
        background: #ffffff;
        h5 {
            display: inline-block;
            font-size: 14px;
            color: #ffffff;
            background: #e9acc7;
            padding: 3px 10px;
            border-radius: 3px;
            &:after {
                content: '';
                width: 70%;
                height: 2px;
                background: #e9acc7;
                position: absolute;
                right: 10px;
                top: 21px;
                z-index: 0;
            }
        }
    }
}

.user-nav-row {
    font-size: 12px;
    a {
        color: #000;
        padding: 10px 0;
        &.active {
            padding-left: 15px;
            font-weight: 700;
        }
    }
    .border-top {
        border-top: 1px solid #c3caca;
    }
}

.user-title {
    font-weight: 700;
    font-size: 14px;
}

.suggestion-slider-container {
    position: relative;
    height: 380px;
    .suggestion-slider {
        .image {
            height: 175px;
            .add-to-fav {
                bottom: 47px;
            }
            .full-view {
                bottom: 97px;
            }
            .price {
                position: absolute;
                background: #d775aa;
                bottom: 14px;
                margin: 0;
                top: inherit;
                color: #fff;
                font-size: 18px;
                z-index: 1;
                padding: 0 10px;
                line-height: 30px;
                height: 26px;
            }
        }
        .card-text {
            .category {
                font-size: 12px;
                margin: 10px 0 5px 0;
            }
        }
        .ic-sale {
            color: #d775aa;
        }
    }
    .slider-buttons {
        margin: 20px 0 0;
        i {
            width: 40px;
            height: 40px;
            font-size: 21px;
            text-align: center;
            color: #fff;
            background: #0db4ff;
            display: inline-block;
            border-radius: 100%;
            line-height: 51px;
            margin: 0 8px;
            cursor: pointer;
        }
    }
    .swiper-slide {
        max-width: 264px;
        margin-right: 28px;
    }
}

.user-forms-row {
    label {
        color: #d87811;
        font-size: 12px;
    }
    .form-group {
        position: relative;
        min-height: 64px;
    }
    .validate {
        font-size: 12px;
        color: #f00;
    }
    .form-control {
        position: relative;
        z-index: 1;
        height: 36px !important;
        font-size: 12px;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 3px;
        &.rounded-left {
            border-radius: 3px 0 0 3px !important;
        }
        &.rounded-right {
            border-radius: 0 3px 3px 0!important;
        }
        // border-color: #c3caca;
    }
    .register-captcha {
        input {
            width: 100% !important;
            height: 45px !important;
        }
        .captcha {
            border: 1px solid #cdcdcd;
            border-radius: 3px;
        }
    }
    .select-arrow {
        position: absolute;
        right: 15px;
        bottom: 12px;
        width: 12px;
        height: 12px;
        font-size: 12px;
        z-index: 0;
    }
    .validate-col {
        .form-group {
            padding: 37px 0 0 0;
        }
    }
    .radio-label {
        color: #000;
    }
}

.personal-info-table {
    .row {
        padding: 11px 0;
        &:nth-child(even) {
            background: #e3e5e5;
        }
    }
}

.ticket {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
    .ticket-header {
        height: 73px;
        background: #ddddff;
        padding: 0 15px 0 25px;
        .text-right {
            color: #4367a0;
            font-size: 14px;
        }
    }
    .flight-header {
        min-height: 30px;
        background: #4367a0;
        color: #ffffff;
        padding: 5px 25px;
    }
    .grey {
        color: #c3caca;
    }
    .name {
        font-size: 16px;
        padding: 6px 0 0 0;
    }
    .flight-detail {
        background: #ffffff;
        min-height: 70px;
        padding: 0 23px;
    }
    .ic {
        font-size: 24px;
        width: 24px;
        height: 24px;
        display: inline-block;
        color: #c3caca;
        &.out {
            color: #f8c157;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
    .flight-time {
        padding: 9px 0 0 0;
        .time {
            font-size: 22px;
            color: #ffa800;
            line-height: 16px;
            &.grey {
                color: #939b9b;
            }
        }
        .date {
            font-size: 12px;
            color: #9f6900;
            &.black {
                color: #333333;
            }
        }
    }
    .city {
        font-size: 22px;
    }
    .flight-info {
        background: #e9acc7;
        font-size: 14px;
        i {
            font-size: 64px;
            width: 64px;
            height: 64px;
            display: inline-block;
            color: #555555;
        }
        .text-container {
            background: #dfe5e9;
        }
        .text {
            font-style: italic;
            color: #555555;
            .d-block {
                border-bottom: 1px solid #b3b7bb;
                margin: 5px 0;
                padding: 5px 0;
                &:last-child,
                &:only-child {
                    border-bottom: 0;
                }
            }
        }
        .price-block {
            background: #e9acc7;
            color: #fff;
            font-size: 14px;
            .price {
                color: #b9192b;
                font-size: 24px;
                font-weight: 700;
            }
            .currency {
                font-size: 14px;
            }
        }
        .description {
            padding: 0 0 0 35px;
        }
    }
}

footer {
    background: #ff8591;
    color: #ffffff;
    p {
        font-size: 12px;
        margin: 0 0 35px 0;
        line-height: 24px;
    }
    ul {
        line-height: 24px;
        margin: 0 0 35px 0;
        font-size: 12px;
        margin: 0;
    }
    .contact-ul,
    .work-hour-ul {
        padding: 0 0 0 42px;
        font-size: 16px;
        li {
            list-style: none;
            line-height: 40px;
        }
        i {
            display: inline-block;
            margin: 0 10px 0 0;
            width: 16px;
            height: 16px;
            font-size: 16px;
        }
    }
    .work-hour-ul {
        font-size: 14px;
        li {
            line-height: inherit;
            display: flex;
        }
    }
    .socials-ul {
        height: 32px;
        a {
            color: #ffffff;
            font-size: 32px;
            text-decoration: none;
            display: inline-block;
            height: 32px;
            margin: 0 6px 0 0;
        }
        list-style: none;
    }
    .lines {
        width: 165px;
        height: 1px;
        background: #ffffff;
        display: block;
        margin: 30px 0;
    }
    .send-form {
        h4 {
            font-size: 16px;
        }
        .form-group {
            margin: 0 0 10px 0;
        }
        .form-control {
            font-size: 12px;
            border-radius: 0;
            background: rgba(255, 255, 255, .85);
        }
        input[type="text"] {
            height: 30px;
        }
        textarea {
            height: 130px;
        }
        .btn {
            position: relative;
            width: 260px;
            margin: 20px 0 0;
            height: 40px;
            border-radius: 20px;
            font-family: $Title;
            font-size: 14px;
            line-height: 29px;
            background: #0db4ff;
            i {
                position: relative;
                top: 2px;
            }
        }
    }
    .copyright {
        height: 105px;
        background: rgba(0, 0, 0, 0.45);
        font-size: 15px;
    }
}