@charset "UTF-8";
@font-face {
    font-family: "lovetravel";
    src: url("../../fonts/lovetravel.eot");
    src: url("../../fonts/lovetravel.eot?#iefix") format("embedded-opentype"), url("../../fonts/lovetravel.woff") format("woff"), url("../../fonts/lovetravel.ttf") format("truetype"), url("../../fonts/lovetravel.svg#lovetravel") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "lovetravel" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
    font-family: "lovetravel" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-arrow-down-1:before {
    content: "\61";
}

.ic-arrow-down:before {
    content: "\62";
}

.ic-baby-face:before {
    content: "\63";
}

.ic-blogger:before {
    content: "\64";
}

.ic-phone:before {
    content: "\65";
}

.ic-calendar:before {
    content: "\66";
}

.ic-clock-o:before {
    content: "\67";
}

.ic-close:before {
    content: "\68";
}

.ic-plane-up:before {
    content: "\69";
}

.ic-envelope:before {
    content: "\6a";
}

.ic-envelope2:before {
    content: "\6b";
}

.ic-europe:before {
    content: "\6c";
}

.ic-event-date-and-time-symbol:before {
    content: "\6d";
}

.ic-favorites:before {
    content: "\6f";
}

.ic-flight-arrow:before {
    content: "\70";
}

.ic-hashtag:before {
    content: "\71";
}

.ic-history-symbol-of-antique-building:before {
    content: "\72";
}

.ic-hyperlink:before {
    content: "\73";
}

.ic-plane:before {
    content: "\74";
}

.ic-magnifying-glass:before {
    content: "\76";
}

.ic-medal-on-a-ribbon-for-number-one:before {
    content: "\77";
}

.ic-messenger:before {
    content: "\78";
}

.ic-messenger2:before {
    content: "\79";
}

.ic-mini-logo:before {
    content: "\7a";
}

.ic-nautilus-shell-of-sea-life-to-hear-the-sea-sound-for-relaxation:before {
    content: "\41";
}

.ic-phone-call:before {
    content: "\42";
}

.ic-placeholder:before {
    content: "\43";
}

.ic-add:before {
    content: "\44";
}

.ic-sale:before {
    content: "\45";
}

.ic-smartphone:before {
    content: "\46";
}

.ic-snowflake-shape:before {
    content: "\47";
}

.ic-telephone:before {
    content: "\48";
}

.ic-twitter-circle:before {
    content: "\49";
}

.ic-two-quotes:before {
    content: "\4a";
}

.ic-user:before {
    content: "\4b";
}

.ic-youtube-circle:before {
    content: "\4c";
}

.ic-zoom-in:before {
    content: "\4d";
}

.ic-placemark:before {
    content: "\6e";
}

.ic-servtransportpass:before {
    content: "\75";
}

.ic-servsightseeingpass:before {
    content: "\4e";
}

.ic-servrestaurantpass:before {
    content: "\4f";
}

.ic-servplainpass:before {
    content: "\50";
}

.ic-servdriverpass:before {
    content: "\51";
}

.ic-servguidpass:before {
    content: "\52";
}

.ic-calendar-1:before {
    content: "\53";
}

.ic-servhotelpass:before {
    content: "\54";
}

.ic-servinsurancepass:before {
    content: "\55";
}

.ic-servinterpreterpass:before {
    content: "\56";
}

.ic-servluggagepass:before {
    content: "\57";
}

.ic-right-arrow-1:before {
    content: "\58";
}

.ic-right-arrow:before {
    content: "\59";
}

.ic-left-arrow:before {
    content: "\5a";
}

.ic-favorite:before {
    content: "\30";
}

.ic-suitcase:before {
    content: "\31";
}

.ic-piggy-bank:before {
    content: "\32";
}

.ic-twitter-square:before {
    content: "\33";
}

.ic-youtube-square:before {
    content: "\34";
}

.ic-facebook-square:before {
    content: "\35";
}

.ic-down-right-arrow:before {
    content: "\36";
}

.ic-info-sign:before {
    content: "\37";
}

.ic-sign-out-option:before {
    content: "\38";
}

.ic-instagram-square:before {
    content: "\39";
}

.ic-instagram-circle:before {
    content: "\21";
}

.ic-facebook-circle:before {
    content: "\22";
}