.header-block-1 {
	height: 62px;
	background-color: #f6f6f6;
    border: 0;
}
.error-block {
	position: relative;
	width: 800px;
	height: 500px;
	margin: 60px auto 0;
	background: url('../../images/error.jpg?v=0.1') left 0 center no-repeat;
}
.error-block:before, .error-block:after {
	content: '';
	position: absolute;
	left: 150px;
	right: 150px;
	border-top: 3px dotted #d6d6d6;
	top: 0; 
}
.error-block:after {
	top: auto;
	bottom: 0;
}
.logo {
	float: inherit;
	margin: 0 auto;
	height: 100%;
	width: 200px;
	background-repeat: no-repeat;
	background-position: center;
}
.logo:hover {
	background-color: #F1F1F1;
}
.error-text {
	display: block;
	text-align: center;
	font-family: top_menu_font;
	font-size: 17px;
	text-transform: uppercase;
	margin: 15px 0;
	color: #333;
}
.main-link {
	display: block;
	text-align: center;
	margin: 20px 0;
}
.main-link a {
	display: inline-block;
	float: none;
}
.main-link a span {
	font-family: BPGMrgvlovaniCaps;
	font-size: 14px;
	color: #333;
	text-decoration: underline;
}
.clear {
	clear:both;
}