* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type='text'],
input[type='password'],
textarea,
select {
    height: 29px;
    width: 100%;
    padding: 4px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #333;
    outline: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

input[type='text'][disabled],
input[type='password'][disabled],
textarea[disabled],
select[disabled],
input[type='text'][readonly],
input[type='password'][readonly],
textarea[readonly],
select[readonly] {
    background-color: #FCFCFC;
}

input[type='text'][autocomplete="off"],
input[type='password'][autocomplete="off"],
textarea[autocomplete="off"] {
    background-color: #FFF!important;
    cursor: text;
}

.textarea-sm {
    height: 100px;
}

.shadow-inset:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn {
    /* height: 29px; */
    border: 1px solid;
    /* padding: 6px 14px; */
    margin: 0!important;
    overflow: visible;
    color: #FFF;
    cursor: pointer;
    white-space: nowrap;
    font-size: 11px;
    line-height: 11px;
    background-color: #003a70;
    border: 1px solid #fdfdfd;
    font-family: BPGMrgvlovaniCaps;
}

.btn.btn-silver[disabled] {
    background-color: #DDD;
    border-color: #DDD;
    color: #666;
}

.btn.btn-yellow[disabled] {
    opacity: 0.5;
    cursor: default;
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-yellow {
    background-color: #dcb568;
    border-color: #dcb568;
    color: #FFF;
}

.btn-blue {
    background-color: #97a5ad;
    border-color: #97a5ad;
    color: #FFF;
}

.btn-silver {
    border-color: #b6b6b6;
    color: #FFF;
    background-color: #b6b6b6;
}

.btn-white {
    border-color: #DDD;
    color: #666;
    background-color: #FFF;
}

.btn-white:hover {
    color: #333;
    border-color: #BBB;
}

.btn.btn-lg {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
}

.btn.btn-sm {
    height: 22px;
    line-height: 11px;
    padding: 2px 6px;
}

.btn-lg {
    height: 45px;
}

.row:after {
    display: block;
    content: '';
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}

.col-center {
    float: inherit!important;
    margin: 0 auto;
}

.j-form {
    visibility: hidden;
    height: 0;
}

.contact-form,
header,
.news-container .news a {
    height: auto!important;
}

.header {
    margin: 25px 0 0;
}

.contact-form input[type=text],
.contact-form textarea {
    margin: 0;
    width: 100%;
}

.contact-form textarea {
    height: 100px;
}

.captcha-and-submit input {
    height: 45px!important;
}

.captcha-and-submit input[type=text] {
    width: 80px!important;
    font-size: 20px;
}

.captcha {
    float: left;
    height: 45px;
    width: 95px;
    background-image: url('../../img/captcha.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.captcha-text {
    float: left;
    margin-left: 10px;
    width: 80px!important;
}

.m-0 {
    margin: 0!important;
}

.m-top-0 {
    margin-top: 0!important;
}

.m-left-5 {
    margin-left: 5px!important;
}

.m-top-5 {
    margin-top: 5px!important;
}

.m-5 {
    margin: 5px!important;
}

.m-top-10 {
    margin-top: 10px!important;
}

.m-left-10 {
    margin-left: 10px!important;
}

.m-top-15 {
    margin-top: 15px!important;
}

.m-top-20 {
    margin-top: 20px!important;
}

.m-left-20 {
    margin-left: 20px!important;
}

.m-20 {
    margin: 20px!important;
}

.p-0 {
    padding: 0!important;
}

.p-5 {
    padding: 5px!important;
}

.p-left-5 {
    padding-left: 5px!important;
}

.p-right-5 {
    padding-right: 5px!important;
}

.p-20 {
    padding: 20px!important;
}

.left {
    float: left!important;
}

.right {
    float: right!important;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.input-error {
    font-size: 13px;
    color: rgb(231, 76, 60);
    margin-top: 5px;
    line-height: 13px;
}

.full-width {
    width: 100%!important;
}

.relative {
    position: relative;
}

.nowrap {
    white-space: nowrap;
}

.font-size-12 {
    font-size: 12px;
}

.news-container .news a span {
    margin: 0 0 15px;
    font-weight: bold;
}

.camera h4 {
    margin: 20px 0;
}

.data-not-found {
    text-align: center;
    padding: 30px;
    font-size: 14px;
    color: #333;
    background-color: #FFF;
    float: left;
    width: 100%;
}

.icon-16 {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background-image: url('../../img/icons_16.png?v=0.0.1');
}

.icon-16.red {
    background-position-x: -16px;
}

.icon-16.green {
    background-position-x: -32px;
}

.star-16 {
    background-position-y: 0;
}

.del-16 {
    background-position-y: -16px;
}

.edit-16 {
    background-position-y: -32px;
}

.slider-16 {
    background-position-y: -48px;
}

.slider-1-16 {
    background-position-y: -64px;
}

.arrow-top-16 {
    background-position-y: -80px;
}

.arrow-bottom-16 {
    background-position-y: -96px;
}

.arrow-top-1-16 {
    background-position-y: -112px;
}

.arrow-bottom-1-16 {
    background-position-y: -128px;
}

.add-16 {
    background-position-y: -144px;
}

.header li {
    position: relative;
}

.header li ul {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    will-change: transform;
    z-index: 8;
    margin: 0 0 10px;
    padding: 0;
    width: auto;
    min-width: 250px;
    background: #FFF;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    white-space: normal;
    /* -webkit-transition-delay: .15s;
    transition-delay: .15s; */
    border: 1px solid #E5E5E5;
    border-bottom-color: #DFDFDF;
    box-shadow: 0 2px 4px rgba(200, 200, 200, 0.2);
    opacity: 0;
    visibility: hidden;
}

.header li ul:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 12px;
    width: 12px;
    margin-top: -7px;
    margin-left: -6px;
    background: #E5E5E5;
    z-index: 0;
}

.header li ul li {
    background-color: #FFF;
    z-index: 1;
    margin: 0 10px;
}

.header li ul li:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
}

.header>ul>li a {
    display: block;
}

.header>ul>li>ul a {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 0;
}

.header ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
}


/*footer div {
    float: left;
    margin: 30px 0 0 30px;
    width: 270px;
}*/

.slider,
.words {
    border: 0;
}

.news-view .img {
    float: left;
    margin: 0 10px 10px 0;
}

.news-view .title {
    font-family: BPGMrgvlovaniCaps;
}

.news-container .news {
    height: 336px;
    overflow: hidden;
    margin: 30px 30px 30px 0;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination div {
    display: inline-block;
}

.pagination span {
    display: block;
    float: left;
    text-align: center;
    padding: 4px 2px;
    font-size: 12px;
    color: #4c4c4c;
    line-height: 16px;
    height: 13px;
    min-width: 15px;
}

.pagination a {
    display: block;
    float: left;
    text-align: center;
    margin: 0 3px;
    padding: 7px 8px;
    font-size: 12px;
    color: #4c4c4c;
    text-decoration: none;
    line-height: 16px;
    height: 30px;
    min-width: 30px;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background-color: #fafafa;
    /*transition: all 0.1s ease-in-out;
    -webkit-transition:  all 0.1s ease-in-out;
    -moz-transition:  all 0.1s ease-in-out;
    -o-transition:  all 0.1s ease-in-out;*/
}

.pagination a:not(.active):active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pagination a:hover,
.pagination a.active {
    background-color: #003A70;
    border-color: #003A70;
    color: #FFF;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    background-color: #003A70;
}

.pagination a:first-child {
    margin-left: 0;
}

.pagination a:last-child {
    margin-right: 0;
}

.table {
    width: 100%;
}

.table div span {
    width: 400px;
}

.options span,
.options a {
    float: left;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #F8F8F8;
    border-radius: 2px;
}

.options span:hover,
.options a:hover {
    background-color: #DDD;
}

.donators {
    padding-bottom: 20px
}

.donators-list li {
    width: 100%;
    background-color: #f3f3f3;
    float: left;
}

.donators-list li:nth-child(2n+0) {
    background-color: #FFF;
}

.donators-list li:last-child {
    border-bottom: 1px solid #f3f3f3;
}

.donor-title {
    padding: 5px 0;
    text-transform: uppercase;
}

.donors-list {
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.donors-list>div>div>p {
    background-color: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    padding: 5px;
}

.donors-list>.col-6:first-child {
    border-right: 1px solid #e5e5e5;
}

.edit-donor {
    width: 517px;
    padding: 20px;
}

.edit-donor input[type=text],
.edit-donor textarea {
    width: 100%;
}

.edit-donor textarea {
    height: 108px;
}

.donation-form-1 input[type=text],
.donation-form-1 select {
    border: 1px solid #dcb568;
    width: 100%;
}

.donation-form-1 .options {
    position: absolute;
    right: -30px;
    top: 1px;
}

.slider .container span {
    margin-bottom: 10px;
    font-size: 18px;
}

.contact .contact-map {
    height: 356px;
}

.news-album {
    margin-top: 40px;
}

.news-album a {
    float: left;
    width: 229px;
    height: 172px;
    background-color: #FFF;
    margin: 0 5px 5px 0;
    border: 1px solid #CCC;
    position: relative;
    border-radius: 2px;
}

.news-album a:hover {
    border-color: #dcb568;
}

.news-album a img {
    width: 100%;
    height: 100%;
}

.highslide img {
    border: 0!important;
}

.pdf-file {
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    background-image: url('../../img/pdf.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.pdf-file:hover,
.a-hover:hover {
    text-decoration: underline;
}

.reports {
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    border-right: 0;
    margin: 30px 0;
}

.reports>div {
    display: table;
    width: 100%;
}

.reports>div>div {
    display: table-cell;
    float: inherit;
    padding: 10px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.reports>div:first-child {
    background-color: #f3f3f3;
}

.reports>div>div:not(:first-child) {
    text-align: center;
}

.pay-form {
    width: 300px;
}

.pay-amount {
    text-align: center;
    font-size: 30px;
    color: #555;
}

.lang-switcher {
    display: block;
    float: left;
}

.lang-switcher li {
    display: block;
    float: left;
    margin: 2px 5px 0 0;
}

.lang-switcher li a {
    background-image: url('../../img/langs.png');
    height: 15px;
    width: 20px;
    display: block;
    cursor: pointer;
}

.lang-switcher li a.ka {
    background-position: 0 0;
}

.lang-switcher li a.en {
    background-position: 0 -16px;
    height: 14px;
}

.lang-switcher li a.ru {
    background-position: 0 -31px;
    height: 14px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.main-partners img {
    border-radius: 50%;
}

footer .footer-copyright {
    width: 100%;
}

.reveal-sm-flex {
    width: 100%;
}

img.eurotradelogo {
    max-width: 110% !important;
}


/* მთავარი სლაიდერის CSS*/

.slider-block .carousel-inner {
    width: 100%;
    max-height: 540px !important;
    overflow: hidden;
}

.slider-block .item.left,
.slider-block .item.right {
    float: inherit !important;
}

.slider-block .item img {
    width: 100%;
    height: auto;
}

.slider-block .fa {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    z-index: 5;
}

.slider-block .fa-chevron-left {
    margin-left: -10px;
}

.slider-block .fa-chevron-right {
    margin-right: -10px;
}

.padding-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.rd-sticky-navbar {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 999 !important;
    background: #e0dee3 !important;
    box-shadow: 1px 1px 1px 1px rgb(0, 58, 112)
}

.max-height-170 {
    max-height: 170px;
    overflow: hidden;
}

.blog-post-title a {
    font-size: 13px;
}

.caption-mod-1 {
    padding: 0!important;
}

.rd-navbar-dropdown a {
    border-bottom: 1px solid #e0dee3;
}

.slider-block {
    box-shadow: 1px 1px 1px 1px rgb(0, 58, 112);
}

.border-shadow-section {
    box-shadow: 1px 1px 1px 1px rgb(0, 58, 112);
}

.block-sm {
    min-width: 400px;
}

.block-md {
    width: 600px;
}

.block-lg {
    width: 1000px;
}

body {
    background-color: #F8F8F8;
    font-family: bpg_mrgvlovani;
}

.box {
    background: #fff;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #F1F1F1;
}

.login-form {
    margin: 50px auto!important;
    width: 400px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.login-form div {
    padding: 20px 20px 0;
}

.login-form div:first-child {
    font-family: high;
    border-bottom: 1px solid #E7E7E7;
    ;
    padding-bottom: 20px;
    font-family: BPGMrgvlovaniCaps;
}

.login-form div input[type=text],
.login-form div input[type=password] {
    width: 100%;
}

.login-form .go-to-main {
    margin-top: 15px;
    border-top: 1px solid #E7E7E7;
    ;
    text-align: center;
}

.admin-top-menu {
    background-color: #F6F6F6;
}

.admin-top-menu ul {
    list-style: none;
}

.admin-top-menu li {
    float: left;
}

.admin-top-menu li a {
    font-family: BPGMrgvlovaniCaps;
    font-size: 16px;
    padding: 20px;
    display: block;
}

.admin-top-menu li a:hover {
    color: #dcb568;
}

.admin-left-menu {
    padding: 10px 0;
    background-color: #FFF;
}

.admin-left-menu a {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 14px 10px 30px;
}

.admin-left-menu a:hover {
    background: #f6f6f6;
    color: #666;
}

.admin-left-menu a.active {
    background-color: #F9F9F9;
}

.admin-left-menu a.active:after {
    background-color: #999;
}

.admin-left-menu a.active:before {
    display: block;
    width: 2px;
    background-color: #009647;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}


/*.admin-left-menu a.active + div {
    background-color: rgba(249, 249, 249, 0.50);
}*/

.admin-left-menu a {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    position: relative;
}

.admin-left-menu a.sub {
    padding-left: 50px;
}

.admin-left-menu a:after {
    content: '';
    position: absolute;
    left: 13px;
    top: 13px;
    height: 8px;
    width: 8px;
    border: 1px solid #999;
    border-radius: 50%;
}

.admin-left-menu a.sub:after {
    left: 30px;
}

.admin-news li {
    float: left;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #F8F8F8;
}

.admin-news li:last-child {
    border-bottom: 0;
}

.admin-news .img {
    display: block;
}

.admin-news .img img {
    width: 100%;
}

.admin-news.admin-partners .img img {
    width: 116px;
}

.admin-news .descr {
    float: left;
}

.admin-news-search {
    padding: 10px;
    border-bottom: 1px solid #F8F8F8;
}

.admin-news-search input[type=text] {
    height: 42px;
    width: 300px;
    font-size: 18px;
}

.h2 {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    padding: 15px;
    display: block;
}

.h2:hover {
    color: #1b4986;
}

.admin-news .h2 {
    padding-top: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.admin-news .text {
    padding-right: 0;
    padding-bottom: 0;
    font-size: 11px;
}

.admin-news-form {
    padding: 10px;
}

.admin-news-form h1 {
    font-family: BPGMrgvlovaniCaps;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 3px 0 6px;
}

.admin-news-form p {
    font-size: 12px;
}

.admin-news-form input[type=text],
.admin-news-form select {
    width: 100%;
}

.admin-news-form div textarea {
    width: 100%;
    height: 300px;
}

.admin-news-form div textarea.short {
    height: 100px;
}

.blog .icon-16 {
    background-image: none !important;
}

.blog {
    background-color: #fbfb0a !important;
    font-style: normal !important;
    color: #000;
}

.list {
    padding: 10px;
    font-size: 12px;
}

.list,
.list li.sub-list ul {
    list-style: none;
}

.list li>div {
    padding: 12px 12px 12px 30px;
    position: relative;
    border-bottom: 1px solid #DDD;
}

.list li>div:hover {
    background-color: #F4F4F4;
}

.list li>div:before {
    content: '';
    position: absolute;
    left: 13px;
    top: 15px;
    height: 8px;
    width: 8px;
    border: 1px solid #999;
    border-radius: 50%;
}

.list li.sub-list>div:before {
    background-color: #999;
}

.list li ul {
    margin-left: 50px;
}

.list .options {
    margin-top: -3px;
}

.list .options span {
    float: left;
    padding: 4px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 2px;
}

.list .options span:hover {
    background-color: #DDD;
}

.map-cont {
    border: 1px solid #dcdcdc;
}

.map-cont #map {
    height: 200px;
    background: transparent;
}

.map-cont>input {
    position: absolute;
    width: 180px;
    left: 50%;
    margin-left: -90px!important;
    top: 80%;
}

.map-cont.active,
.map-cont.active #map {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.map-cont.active>input {
    z-index: 9;
}

.admin-langs a {
    padding: 0!important;
    float: left;
    margin: 20px 15px 20px 0;
    text-decoration: none;
}

.admin-langs a.active {
    border-bottom: 1px solid;
}

.admin-langs a img {
    margin-right: 3px;
}