.breadcrumb {
    background-color: transparent;
    font-size: 14px;
    a {
        color: #777777;
    }
    .breadcrumb-item {
        &.active {
            color: #636c72 !important;
            text-decoration: none !important;
        }
        &.category {
            color: #c3caca;
        }
    }
}