.form-group {
    font-size: 14px;
    text-transform: capitalize;
    margin: 5px 0;
    label {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        padding: 0;
    }
    input[type="checkbox"],
    input[type='radio'] {
        border-radius: 2px;
        background-position: 0 28px;
        width: 14px;
        height: 14px !important;
        margin: 0 9px 0 0;
        position: relative;
        outline: 0;
        left: 0;
        background-image: url('../../../assets/img/icons/check.svg');
        background-size: 14px 56px;
        float: left;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-transition: box-shadow 0.1s ease;
        -moz-transition: box-shadow 0.1s ease;
        -o-transition: box-shadow 0.1s ease;
        transition: box-shadow 0.1s ease;
        &:hover {
            background-color: #fff;
            background-position: 0 0;
        }
        &:checked {
            background-position: 0 14px;
            &:hover {
                background-position: 0 42px;
            }
        }
    }
    input[type="radio"] {
        float: left;
        margin: 0 5px 0 0;
        padding: 0;
        width: 14px;
        height: 14px !important;
        background-position: 0 0;
        border-radius: 100%;
        background-size: 100%;
        background-image: url('../../../assets/img/icons/radio.svg');
        &:hover {
            background-color: #fff;
            background-position: 0 0;
        }
        &:checked {
            background-position: 0 12px;
            &:hover {
                background-position: 0 12px;
            }
        }
    }
}