.editor,
.editor * {
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.editor p,
.editor ul,
.editor ol,
.editor li {
    margin: 10px 0;
}

.editor ul,
.editor ol {
    margin-left: 30px;
    margin-bottom: 20px;
    list-style: initial;
}

.editor u {
    text-decoration: underline;
}

.editor em,
.editor i {
    font-style: italic;
}

.editor>*:first-child {
    margin-top: 0;
}

.editor>*:nth-last-child(2) {
    margin-bottom: 0;
}