.files-list {
    padding: 0;
    list-style: none;
}
.files-list li {
    float: left;
    width: 274px;
    height: 206px;
    background-color: #FFF;
    margin: 0 5px 5px 0;
    border: 1px solid #CCC;
    position: relative;
    border-radius: 2px;
}
.files-list.comp-logo li {
    width: 142px;
    height: 142px;
}
.files-list li:hover {
    border-color: #dcb568;
}
.files-list li:nth-child(7),
.files-list li:nth-child(8),
.files-list li:nth-child(9),
.files-list li:nth-child(10),
.files-list li:nth-child(11),
.files-list li:nth-child(12) {
    margin-top: 5px;
} 
.files-list li:nth-child(6),
.files-list li:nth-child(12) {
    margin-right: 0;
}
.files-list li video {
    width: 100%;
    height: 100%;
}
.files-list li img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.tour-form input[type=submit] {
    width: 150px;
    padding: 20px;
    display: block;
    font-size: 18px;
    line-height: 1px;
}
.files-list .files-list-new-file {
    cursor: pointer;
}
.files-list .files-list-new-file:hover span {
    background-color: #dcb568;
}
.files-list .files-list-new-file span {
    display: block;
    width: 33px;
    height: 33px;
    margin: 65px auto 5px;
    background: #999 url('../../img/new_photo.png') center no-repeat;
    line-height: 39px;
    font-size: 20px;
    text-align: center;
    color: #ff8400;
}
.files-list .files-list-new-file.files-list-uploading {
    cursor: default;
}
.files-list .files-list-new-file.files-list-uploading span {
    background: url('../../img/plugin_loader.gif') center no-repeat;
}
.files-list .files-list-new-file p {
    font-size: 12px;
    text-align: center;
}
.files-list li i {
    display: none;
    width: 25px;
    height: 25px;
    background: #dcb568 url('../../img/close.gif') no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.files-list li:hover i {
    display: block;
}
.files-list li i:hover {
    background-color: #af8739;
}
.files-list li i.home {
    right: 25px;
    background-image: url('../../img/home.png');
}
.files-list li:first-child i.home, .files-list.comp-logo li i.home,
.files-list[data-type="doc"] li i.home {
    display: none;
}
.files-list li i.home:after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    bottom: 3px;
    width: 1px;
    background-color: #af8739;
}
.files-list[data-type="doc"] li {
    height: 37px;
}
.files-list[data-type="doc"] li p {
    padding: 9px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.files-list[data-type="doc"] .files-list-new-file span {
    position: absolute;
    height: 25px;
    width: 25px;
    background-size: 25px;
    margin: 5px;
    background-color: transparent;
    background-image: url('../../img/pdf.png');
}
.files-list[data-type="video"] .files-list-new-file span {
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-image: url('../../img/new_video.png');
}
.files-list[data-type="doc"] li i {
    height: 35px;
}
.files-list.files-list-team li {
    width: 131px;
    height: 221px;
}
.files-list.files-list-partner li {
    width: 116px;
    height: 116px;
}
.files-list.files-list-products li span {
    margin-top: 30px;
}
.files-list.files-list-news li {
    width: 370px;
    height: 240px;
}
.files-list.files-list-tours li {
    width: 284px;
    height: 190px;
}
.files-list.files-list-cats li {
    width: 150px;
    height: 150px;
}
.files-list.files-list-cats li span {
    margin-top: 40px;
}
.files-list.files-list-slider li {
    width: 100%;
}
.files-list.files-list-slider li img {
    width: auto;
    margin: 0 auto;
    display: block;
}