.iblock-cloud-block {
    position: relative;
    overflow: inherit!important;
}

.iblock-cloud {
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    will-change: transform;
    z-index: 8;
    margin: 0 0 10px;
    padding: 12px 16px;
    width: auto;
    min-width: 224px;
    background: #2a94ff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    white-space: normal;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

.iblock-cloud-sm {
    min-width: 350px;
}

.iblock-cloud.active {
    visibility: visible;
    opacity: 1;
}

.iblock-cloud:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 12px;
    width: 12px;
    margin-top: -7px;
    margin-left: -6px;
    background: #2a94ff;
}

.iblock-cloud.iblock-tooltip,
.iblock-cloud.iblock-tooltip:after {
    background: #555;
}

.iblock-cloud-cnt {
    display: inline-block;
    text-align: left;
    font-weight: normal;
}

.iblock-cloud-cnt a {
    color: #FFF;
}

.iblock-cloud-cnt a:hover {
    text-decoration: underline;
}

.iblock-cloud-close {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    opacity: .5;
    background-image: url('../../img/white_close_10.png');
}

.iblock-cloud-close:hover {
    background-position: 0 -10px;
    opacity: 1;
}

.iblock-cloud.__left {
    top: 50%;
    bottom: auto;
    left: auto;
    right: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 10px 0 0;
}

.iblock-cloud.__left:after {
    top: 50%;
    bottom: auto;
    left: auto;
    right: 0;
    margin: -6px -5px 0 0;
}

.iblock-cloud.__right {
    top: 50%;
    bottom: auto;
    left: 100%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 0 0 10px;
}

.iblock-cloud.__right:after {
    top: 50%;
    bottom: auto;
    left: 0;
    right: auto;
    margin: -6px 0 0 -5px;
}

.iblock-cloud.__bottom {
    top: 100%;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 10px 0 0;
}

.iblock-cloud.__bottom:after {
    top: auto;
    bottom: 100%;
    margin: 0 0 -7px -6px;
    border-bottom-color: #2a94ff;
}

.iblock-cloud.__top-left {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.iblock-cloud.__top-left:after {
    left: 16px;
    margin-left: 0;
}

.iblock-cloud.__top-right {
    left: auto;
    right: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.iblock-cloud.__top-right:after {
    left: auto;
    right: 16px;
    margin-left: 0;
}

.iblock-cloud.__bottom-left {
    top: 100%;
    bottom: auto;
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    margin: 10px 0 0;
}

.iblock-cloud.__bottom-left:after {
    top: auto;
    bottom: 100%;
    left: 16px;
    margin: 0 0 -7px;
}

.iblock-cloud.__bottom-right {
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    margin: 10px 0 0;
}

.iblock-cloud.__bottom-right:after {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 16px;
    margin: 0 0 -7px;
}