.plugin-loader {
    position: absolute!important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85)!important;
    z-index: 1;
}

.plugin-loader i {
    position: absolute;
    left: 50%;
    margin-left: -15.5px;
    top: 50%;
    margin-top: -15.5px;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url('../../assets/img/plugin_loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
}