.pagination {
    text-align: right;
    .page-item {
        margin: 0 5px;
        &:first-child {
            margin: 0 5px 0 0;
        }
        &:last-child {
            margin: 0 0 0 5px;
        }
    }
    .page-link {
        width: 42px;
        height: 42px;
        padding: 0;
        border: 0;
        border-radius: 0;
        font-size: 14px;
        background: #c3caca;
        color: #ffffff;
        text-align: center;
        line-height: 45px;
        &:last-child,
        &:first-child {
            border-radius: 0 0 0 0 !important;
        }
        &:hover {
            background: #c3caca;
            color: #ffffff;
        }
        &.active {
            background: #0db4ff;
        }
    }
    .arrow {
        padding: 7px 0;
        i {
            font-size: 22px;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            display: inline-block;
        }
    }
}