/*popup start*/
.popup_under {
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#111;
	opacity:0.4;
}
.popup {
	display:table-cell;
	overflow-y: scroll;
    overflow-x: auto;
	height:auto;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	background: rgba(0, 0, 0, 0.4);
}
.popup-header {
	background-color: #e9e9e9;
    position: relative;
    height: 50px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.popup-header-title, .prom-title {
	height: 25px;
	position: absolute;
	left: 20px;
	top: 15px;
}
.popup-header-icon, .prom-icon {
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
	display: block;
	float: left;
	padding: 5px;
	background-color: #ff8400;
	display: none;
}
.popup-header-title p, .prom-title p {
	float: left;
	/* margin-left: 10px; */
	height: 25px;
	line-height: 28px;
	font-size: 15px;
	color: #0f325f;
	font-family: BPGMrgvlovaniCaps;
	font-weight: bold;
}
.popup_container_block {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
	position:relative;
}
.popup_container {
	width: 100%;
	display:inline-block;
	position:relative;
	text-align:center;
}
.popup_content {
	position:relative;
	min-height:150px;
	min-width:305px;
	display:inline-block;
	background-color:#FFF;
	box-shadow: 0 0 20px #666;
	text-align:left;
	/*border:2px solid #466b8e;*/
	margin:30px 0;
	/* -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; */
}
.popup_title {
	background-color: #466b8e;
	padding: 0 10px;
	margin: 0;
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	border-bottom: none;
	line-height: 8px;
	height: 30px;
	line-height: 25px;
}
.popup_body {
	margin:0;
}
.popup_close {
	background-color: #e7e7e7;
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 15px;
	right: 20px;
	padding: 4px;
	cursor: pointer;
	/* border: 1px solid #ababab;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; */
}
.popup_close:hover {
	background-color: silver;
}
.popup_loader {
	display:block;
	margin:50px auto;
	text-align:center;
}
.popup_loader_img {
	width: 31px;
	height: 31px;
	background: transparent url('../images/plugin_loader.gif');
	text-align:center;
	display:inline-block;
}
.popup_loader_text {
	font-size:12px;
	margin:8px 0 0 0;
	text-align:center;
}
.popup_active_body {
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.popup_scrollbar_width {
	display:none;
	visibility:hidden;
	opacity:0;
	width:20px;
	height:20px;
	overflow:scroll;
}
/*popup end*/