.pr-view-img-block,
.pr-view-img-large {
    width: 100%;
    background: #ffffff;
}

.pr-view-img {
    width: 392px;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: url('../images/loupe.svg'), auto;
    position: relative;
}

.pr-view-img,
.pr-view-img-large {
    height: 294px;
}

.pr-view-img-large {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pr-view-img img {
    cursor: zoom-in;
    max-width: 100%;
    max-height: 100%;
}

.pr-view-img.no-photo {
    cursor: default!important;
}

.pr-view-video {
    height: 100%;
}

.pr-view-video iframe {
    float: left;
}

.pr-view-block:hover #D3 {
    display: none;
}

.pr-view-img-block i.vip {
    display: block;
    width: 57px;
    height: 42px;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: -5px;
    background-image: url('../images/pr_view_vip.png');
}

.pr-view-img-block i.vip-0,
.pr-view-img-block i.vip-5 {
    background-image: none;
}

.pr-view-img-block i.vip-20 {
    background-position: 0 0;
}

.pr-view-img-block i.vip-15 {
    background-position: 0 -42px;
}

.pr-view-img-block i.vip-10 {
    background-position: 0 -84px;
}

.pr-view-zoom-info {
    height: 28px;
    background-color: #e8e6e6;
    text-align: center;
}

.pr-view-zoom-info span {
    display: inline-block;
    height: 18px;
    padding-left: 20px;
    line-height: 23px;
    color: #a0a0a0;
    font-size: 12px;
    margin: 4px 0;
    background-image: url('../images/pr_view_zoom.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.pr-view-imgs {
    width: 392px;
    height: 81px;
    position: relative;
    overflow: hidden;
    background: #d4dcdb;
    margin: 10px 0 0;
}

.pr-view-imgs ul {
    position: absolute;
    left: 0;
    padding: 15px 30px;
    width: 1285px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
    transition-duration: 500ms;
    transform: translate3d(0, 0px, 0px);
}

.pr-view-imgs li {
    display: block;
    float: left;
    width: 76px;
    height: 51px;
    margin: 0 4px !important;
    position: relative;
    cursor: pointer;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.pr-view-imgs li:hover:after,
.pr-view-imgs li.active:after,
.pr-group-items li a:hover:after,
.pr-group-items li a.active:after {
    border-color: #fcac22;
}

.pr-view-imgs li.active:after,
.pr-group-items li a.active:after {
    border-width: 2px;
}

.pr-view-imgs li.active:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 50%;
    top: -14px;
    margin-left: -7px;
    border: 7px solid #fcae26;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 1;
}

.pr-view-imgs li:first-child {
    margin-left: 0;
}

.pr-view-imgs .arrow {
    display: block;
    width: 33px;
    background-color: rgb(212, 220, 219);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &.right-arrow {
        right: 0;
        left: inherit;
        i {
            left: inherit;
            right: -12px;
            text-align: left;
            padding-left: 5px;
        }
    }
    i {
        position: relative;
        top: 20px;
        left: -20px;
        display: inline-block;
        width: 41px;
        height: 41px;
        line-height: 41px;
        background: #f3f3f3;
        border-radius: 100%;
        font-size: 16px;
        color: #585858;
        text-align: right;
        line-height: 47px;
        padding-right: 5px;
    }
}

.img-border-silver:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid rgba(187, 187, 187, 0.5);
}

//
.pr-photos-view-block {
    background-color: #333;
}

.pr-photos-view {
    position: relative;
}

.pr-photos-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

.pr-photos-img div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pr-photos-img div img {
    vertical-align: middle;
    width: 100%;
}

.pr-photos-overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.pr-photos-thumbs {
    display: inline-block;
    text-align: center;
    padding: 8px;
    height: 63px;
    width: 100%;
}

.pr-photos-thumbs ul {
    display: inline-block;
}

.pr-photos-thumbs li {
    display: inline-block;
    float: left;
    position: relative;
    width: 63px;
    height: 47px;
    margin-right: 8px;
    cursor: pointer;
}

.pr-photos-thumbs li:last-child {
    margin-right: 0;
}

.pr-photos-thumbs li i {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
}

.pr-photos-thumbs li:not(.active):hover i {
    opacity: 0;
}

.pr-photos-thumbs li.active i {
    border: 2px solid #fcac22;
    background-color: transparent;
}

.pr-photos-thumbs li.active i:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 50%;
    top: -14px;
    margin-left: -7px;
    border: 7px solid #fcac22;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 1;
}

.pr-photos-view span {
    position: absolute;
    z-index: 3;
    top: 0;
    left: -55px;
    bottom: 0;
    cursor: pointer;
    right: 85%;
}

.pr-photos-view span.next {
    left: 15%;
    right: -55px;
}

.pr-photos-view span i {
    display: block;
    width: 27px;
    height: 45px;
    background-image: url(../../../assets/img/pr_dt_arrows.png);
    opacity: 0.4;
    top: 50%;
    position: absolute;
}

.pr-photos-view span:hover i {
    opacity: 1;
}

.pr-photos-view span.prev i {
    background-position: 0 -2.5px;
    left: 15px;
}

.pr-photos-view span.next i {
    background-position: -29px -2.5px;
    right: 15px;
}